
.hero{
    background-color: rgb(29, 28, 28);
    height: 100vh;
    margin: 8px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.hero-h{
    margin-top: 5px;
    background-color: rgba(0,0, 0,0.5);
}
.switch{
   position: relative;
   display: inline-block;
   width: 110px;
   height: 60px;
   border-radius: 50px;
   box-shadow: rgba(0, 0, 0, 0.925) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.slider{
    position: absolute;
    cursor: pointer;
    background-color: rgb(15, 36, 36);
    transition: .4s;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.switch input{display:none}

.slider::before{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50px;
    box-shadow: rgb(0, 0, 0) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
input:checked + .slider{
    background-color: gold;
    box-shadow: inset 0 0 10px rgb(0, 19, 59);
}
input:checked + .slider::before{
    transform: translate(50px);
    background-color: black;
    box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.space{
    margin-top: 50px;
}
.navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-main{
    font-size: 40px;
}
.switch-font{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 2rem;
    margin-top: 5px;
    margin-right: 10px;
}