body {
  height: 100vh;
}
.button{
  background-color: #1b1a1a;
  color: #ff6600;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-weight: bolder;
  font-size: 1.5rem;
}
.hero {
  display: none;
  background-color: rgb(12, 11, 11);
  height: 85vh;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.hero-h {
  background-color: rgba(0, 0, 0);
  height: 15vh;
  border-bottom:2px solid ;
  border-image: linear-gradient(to right, #ff6600, #ffee00);
  border-image-slice: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 60px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #333639a1;
  transition: 0.4s;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: rgb(0, 0, 0) 2.4px 2.4px 3.2px;
}
.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  box-shadow: rgb(0, 0, 0) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.switch input:checked + .slider {
  background: linear-gradient(to right, #ff4800, #ffee00);
  box-shadow: rgb(43, 46, 48) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.137) -3px -3px 6px 1px inset;
}
.switch input:checked + .slider::before {
  transform: translate(50px);
  background-color: black;
  box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.space {
  margin-top: 50px;
}
.navbar {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.nav-main {
  font-size: 40px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  color: #ffbb00;
  font-family: 'Times New Roman', Times, serif;
}
.switch-font {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  font-size: 2rem;
  margin-top: 5px;
  margin-right: 10px;
  max-width: 200px;
  width: 85px;
  max-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  color: #ffa600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, #343a40 0px 3px 6px;
  padding-left: 10px;
  background-color: #111213;
}
#loading-indicator {
  background: #ffa600 url(images/loader.gif) no-repeat center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
}
.edit-button input[type="checkbox"]{
  top: 20px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.editor img{
  display: inline-block;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-left: 20px;
  margin-top: 5px;
}
.editor input[type="checkbox"]{
  display: none;
}
.checked-logo{
  height: 50px;
  margin-top: 50px; 
}
.checked-logo::before {
  margin-left: 5px;
  margin-top: 10px;
  padding: 2px;
  content: "Save";
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
  background: linear-gradient(to right, #ff4800, #ffee00);

}

/* .checked-logo::after {
  content: "";
} */

.reg-body{
    align-items: center;
}
    .regulator {
        position: relative;
        width: 150px;
        height: 150px;
        background-color: #1b1a1a;
        border-radius: 50%;
        /* border: 2px solid #000000; */
        overflow: hidden;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
      
      .regulator-pointer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 8px;
        height: 70px;
        background-color: #ff7b00;
        border-radius: 4px;
        z-index: 2;
      }
      
      .regulator-pointer::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 15px;
        background-color: black;
        border-radius: 2px;
        /* top: -5px; */
        left: 2px;
        z-index: 3;
      }
      
      .regulator-modes {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      
      .regulator-mode {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center top;
        font-size: 14px;
        color: #ff7b00;
        border-radius: 50%;
        cursor: pointer;
        font-weight: bolder;
        font-family: sans-serif;
      }
      
      .regulator-mode:nth-child(1) {
        transform: rotate(90deg) translateY(-67px);
      }
      
      .regulator-mode:nth-child(2) {
        transform: rotate(135deg) translateY(-68px);
      }
      
      .regulator-mode:nth-child(3) {
        transform: rotate(180deg) translateY(-70px);
      }
      
      .regulator-mode:nth-child(4) {
        transform: rotate(225deg) translateY(-75px);
      }
      
      .regulator-mode:nth-child(5) {
        transform: rotate(270deg) translateY(-75px);
      }
      
      .regulator-mode:hover {
        color: #333;
      }

